# Godot 4+ specific ignores
.godot/
/android/
.vscode/

# editior addons to ignore
addons/script-ide/
addons/Todo_Manager/
overrides/MAP

# Godot GDExtension DLL shadow copies (Windows hot-reload artifacts)
addons/exmateria_sound/bin/~*
*.TMP